################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MessengerRetranslator/bin/Debug/net5.0
/MessengerRetranslator/obj
/MessengerRetranslator/Properties
/VkApi/obj/Debug/net5.0
